.App {
  text-align: center;
}

.drivetrainTitle a {
    text-decoration: none;
    color: gray;
    font-size: small;
}

.comparisonList a {
    text-decoration: none;
    color: gray;
    font-size: small;
}
